@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300,400);

* {
	margin: 0;
	padding: 0;
}

body {
	background: #3B3738;
	color: #FFF;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-weight: 300 !important;
}

/* Page layout */
html, body {
    height: 100%;
}

#push {
    position: relative;
    min-height: 100%;
}

/* Header, footer */
#header, #footer {
    background: #EBEBEB;
    color: #3B3738;
    padding: 20px 0;
    text-align: center;
    width: 1540px;
    margin: 0 auto;
}

#header a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px dashed #3B3738;
}

#header a:hover {
    border-bottom: 1px dashed transparent;
}

#header > .slogan {
    letter-spacing: 2px;
    font-size: 20px;
}

#header > .info {
    font-size: 17px;
}

#header > h1 {
    font-size: 42px;
}

#footer {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    font-size: 16px;
    text-transform: uppercase;
}

/* Tagline */
#tagline {
    padding: 10px 0;
    text-align: center;
    width: 1540px;
    margin: 0 auto;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

/* Colors used by the Mojang service's status bar */
.status-online {
    background: #87D37C;
    color: #3B3738;
}

.status-unstable {
    background: #E9E581;
    color: #3B3738;
}

.status-offline {
    background: #e74c3c;
}

.status-connecting {
    background: #3498db;
}

/* Server listing */
.server-container {
    width: 1540px;
    margin: 10px auto;
    overflow: auto;
}

.server {
    overflow: auto;
    padding: 5px 10px;
    margin: 0 5px;
    width: 740px;
    display: inline-block;
}

.server > .column > img {
    border-radius: 2px;
    margin-top: 5px;
}

.server > .column {
    float: left;
    display: inline-block;
}

.server > .column > .rank {
    width: 64px; 
    padding-top: 3px;
}

.server > .column > h3 > .type {
    padding: 1px 5px;
    border-radius: 2px;
    border: 1px solid #A09E9E;
    font-size: 14px;
    margin-bottom: 2px;
}

.category-header {
    text-align: center;
    display: block;
    margin-bottom: 15px;
}

/* Charts */
.chart {
    height: 100px;
    width: 400px;
    margin-right: -3px;
    margin-bottom: 5px;
}

#tooltip {
    display: none;
    position: absolute;
    padding: 5px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.65);
    z-index: 999;
}

/* Existing elements */
h3 {
    text-transform: uppercase;
}

/* Basic classes used randomly */
.color-gray {
    color: #C4C4C4;
}

.color-red {
    color: #e74c3c;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center-align {
    text-align: center;
}

/* The big graph */
#big-graph, #big-graph-controls, #big-graph-checkboxes {
    width: 1540px;
    margin: 15px auto 0 auto;
}

#big-graph-checkboxes > table {
    width: 100%;
}

#big-graph {
    margin-top: 20px;
}

#big-graph-controls {
    margin: 10px auto;
}

#big-graph-controls a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    border-bottom: 1px dashed #FFF;
    font-size: 16px;
}

#big-graph-controls a:hover {
    border-bottom: 1px dashed transparent;
    cursor: pointer;
}

/* Basic elements */
.button {
    background: #3498db;
    border-radius: 2px;
    text-shadow: 0 0 0 #000;
    width: 85px;
    font-size: 16px;
    padding: 5px 10px;
    margin: 0 auto;
}

.button:hover {
    background: #ecf0f1;
    color: #3498db;
    cursor: pointer;
}