@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300,400);

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background: #2E2B2C;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 300 !important;
    box-sizing: border-box;
}

/* Page layout */
html, body {
    height: 100%;
}

a {
    cursor: pointer;
}

#push {
    position: relative;
    min-height: 100%;
}

/* Header */
#header {
    background: #EBEBEB;
    color: #3B3738;
    padding: 20px 0;
    overflow: auto;
    margin-top: 44px;
}

#header .slogan {
    font-size: 20px;
}

#header .subslogan {
    font-size: 19px;
}

#header a, #footer a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px dashed #3B3738;
}

#header a:hover, #footer a:hover {
    border-bottom: 1px dashed transparent;
}

#header > h1 {
    font-size: 42px;
}

#header > #column-center {
    margin: 0 auto;
    text-align: center;
}

/* Footer */
#footer {
    font-size: 16px;
    text-transform: uppercase;
    background: #EBEBEB;
    color: #3B3738;
    padding: 15px 0;
    margin: 0 auto;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    text-align: center;
}

/* Tagline */
#tagline {
    padding: 10px 0;
    width: 100%;
    z-index: 999999; /* I'm so sorry. */
    position: fixed;
    left: 0;
    top: 0;
}

#tagline-center {
    margin: 0 auto;
}

#tagline-text {
    padding-left: 15px;
}

/* Colors used by the Mojang service's status bar */
.status-online {
    background: #87D37C;
    color: #3B3738;
}

.status-unstable {
    background: #E9E581;
    color: #3B3738;
}

.status-offline {
    background: #e74c3c;
}

.status-connecting {
    background: #3498db;
}

/* Server listing */
#server-container-list {
    padding: 0 15px;
}

.server-container {
    margin: 10px auto;
    text-align: center;
}

.server {
    text-align: left;
    overflow: auto;
    padding: 5px 10px;
    width: 100%;
}

.server .column-icon {
    width: 80px;
}

.server .column-info {
    width: 220px;
}

.server .column-chart {
    padding-left: 30px;
}

@media (min-width: 1199px) {
    .server-container {
        display: flex;
        flex-flow: row wrap;
    }

    .server {
        flex: 0 0 50%;
        padding: 0;
        overflow: hidden;
    }

    .server .column-chart {
        padding-left: 5px;
    }
}

.server > .column > img {
    border-radius: 2px;
    margin-top: 5px;
}

.server > .column {
    float: left;
    display: inline-block;
}

.server > .column > .rank {
    width: 64px;
    padding-top: 4px;
}

.server > .column > .url {
    font-size: 16px;
}

.server > .column > h3 > .type {
    padding: 1px 5px;
    border-radius: 2px;
    border: 1px solid #A09E9E;
    font-size: 14px;
    margin-bottom: 2px;
}

.server > .column > .versions {
    min-height: 23px;
    padding-bottom: 1px;
}

.server > .column > .versions > .version {
    padding: 1px 5px;
    border-radius: 2px;
    border: 1px solid #636363;
    font-size: 12px;
}

.category-header {
    margin-bottom: 10px;
    text-align: center;
    display: none;
}

/* Charts */
.chart {
    height: 100px;
    width: 400px;
    margin-right: -3px;
    margin-bottom: 5px;
}

#tooltip {
    display: none;
    position: absolute;
    padding: 5px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.65);
    z-index: 999;
}

/* Existing elements */
h3 {
    text-transform: uppercase;
}

/* Basic classes used randomly */
.color-gray {
    color: #C4C4C4;
}

.color-red {
    color: #e74c3c;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center-align {
    text-align: center;
}

/* The big graph */
#big-graph, #big-graph-controls, #big-graph-checkboxes {
    margin: 15px auto 0 auto;
}

#big-graph-checkboxes > table {
    width: 100%;
}

#big-graph {
    margin-top: 20px;
    margin-left: 60px;
}

#big-graph-controls {
    margin: 10px auto;
}

#big-graph-controls a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    border-bottom: 1px dashed #FFF;
    font-size: 16px;
}

#big-graph-controls a:hover {
    border-bottom: 1px dashed transparent;
}

/* Basic elements */
.button {
    background: #3498db;
    border-radius: 2px;
    text-shadow: 0 0 0 #000;
    width: 85px;
    font-size: 16px;
    padding: 5px 10px;
    margin: 0 auto;
}

.button:hover {
    background: #ecf0f1;
    color: #3498db;
}
